{% import "components/header.njk" as header %}
{% import "components/skip-links.njk" as skipLinks %}
{% import "components/footer.njk" as footer %}

{% set fullTitle = "al smith" %}
{% if pageTitle %}
  {% set fullTitle = pageTitle + " - " + fullTitle %}
{% endif %}
{% set pageTitle = pageTitle | default(fullTitle) %}

{% set github = "alastair-smith" %}
{% set twitter = "alastairsmith_" %}
{% set email = "contact@alsmith.dev" %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ fullTitle }}</title>

  {% block unfurlTags %}
    {% set about = about | default("Personal website of Alastair Smith.") %}
    {% set baseUrl = "https://alsmith.dev" %}
    {% set imageUrl = baseUrl + (imageUrl | default("/assets/images/logo.1000x1000.png")) %}
    <meta name="Description" content="{{ about }}">
    <meta name="author" content="Alastair Smith">

    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:image" content="{{ imageUrl }}">
    <meta property="og:description" content="{{ about }}">
    <meta property="og:url" content="{{ baseUrl }}{{ pageUrl }}">
    <meta property="og:site_name" content="al smith">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ baseUrl }}{{ pageUrl }}">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ about }}">
    <meta name="twitter:image" content="{{ imageUrl }}">
    <meta name="twitter:site" content="@{{ twitter }}">
  {% endblock %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href="/assets/styles/styles.css" rel="stylesheet">
  {% block headEnd %}
  {% endblock %}
</head>
{% endblock %}

<body>
  {% set skipLinkValues = [{
    text: "Skip to main content",
    href: "#main-content"
  }] %}

  {{ skipLinks.component({
    links: skipLinkValues
  }) }}

  <div class="page-container">
    {% block header %}
      {{ header.component({
        websiteName: "alsmith.dev"
      }) }}
    {% endblock %}

    {% set mainClasses = mainClasses | default("limit-width") %}
    <main id="main-content" class="{{ mainClasses }}">
      {% block content %}
      {% endblock %}
    </main>

    {% block footer %}
      {{ footer.component({
        github: github,
        twitter: twitter,
        email: email
      }) }}
    {% endblock %}
  </div>

  {% block script %}
  {% endblock %}
</body>

</html>
