{% extends "components/base-page.njk" %}

{% set mainClasses = "limit-width blog-post" %}

{% macro dateString () %}
  <time class="post-date" datetime="{{ postDate }}">{{ postDate | date }}</time>
{% endmacro %}

{% block headEnd %}
  <script type='module' src="{{ '/assets/scripts/blog.js' | asset }}"></script>
{% endblock %}

{% block content %}
<noscript>
  <style>.copy-button { display:none; }</style>
</noscript>
<article>
  {{ content | injectDate(dateString()) | safe }}
</article>
{% endblock %}
