{% extends "components/base-page.njk" %}

{% set mainClasses = "limit-width blog-post" %}

{% macro dateString () %}
  <time class="post-date" datetime="{{ postDate }}">{{ postDate | date }}</time>
{% endmacro %}

{% block content %}
<noscript>
  <style>.copy-button { display:none; }</style>
</noscript>
<article>
  {{ content | injectDate(dateString()) | safe }}
</article>
<script>
  const activateCopyButtons = () => {
    const buttons = document.getElementsByClassName('copy-button')
    const copyCode = async event => {
      const codeElement = event.target.parentElement.children[1]
      await navigator.clipboard.writeText(codeElement.textContent)
    }
    for (const button of buttons) {
      button.addEventListener('click', copyCode)
    }
  }

  activateCopyButtons()
</script>
{% endblock %}
