{% extends "components/base-page.njk" %}

{% set mainClasses = "limit-width blog-post" %}

{% macro dateString () %}
  <time class="post-date" datetime="{{ postDate }}">{{ postDate | date }}</time>
{% endmacro %}

{% block content %}
<article>
  {{ content | injectDate(dateString()) | safe }}
</article>
{% endblock %}
