{% import "components/icons/github.njk" as githubIcon %}
{% import "components/icons/twitter.njk" as twitterIcon %}
{% import "components/icons/email.njk" as emailIcon %}

{% set iconColor = "#EEEEEE" %}

{% macro component(params) %}
  <footer class="footer-component">
    <div class="footer-component-content limit-width">

      {% if params.github %}
        <a target="_blank" rel="noopener" href="https://github.com/{{ params.github }}" class="social-github">
          {{ githubIcon.component({ fill: iconColor }) }}
          <span>github<br>@{{ params.github }}</span>
        </a>
      {% endif %}

      {% if params.twitter %}
        <a target="_blank" rel="noopener" href="https://twitter.com/{{ params.twitter }}" class="social-twitter">
          {{ twitterIcon.component({ fill: iconColor }) }}
          <span>twitter<br>@{{ params.twitter }}</span>
        </a>
      {% endif %}

      {% if params.email %}
        <a target="_blank" rel="noopener" href="mailto:{{ params.email }}" class="social-email">
          {{ emailIcon.component({ fill: iconColor }) }}
          <span>email<br>{{ params.email }}</span>
        </a>
      {% endif %}
      
    </div>
  </footer>
{% endmacro %}
