@import "./variables.scss";

@import "./components/base-page.scss";

@import "./pages/index.scss";
@import "./pages/error-page.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $color-1;
}
