@import "./variables.scss";

@import "./components/base-page.scss";
@import "./components/card.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/skip-links.scss";
@import "./components/blog-post.scss";

@import "./pages/index.scss";
@import "./pages/error-page.scss";
@import "./pages/chandler.scss";

/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/assets/fonts/open-sans-v18-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('/assets/fonts/open-sans-v18-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/assets/fonts/open-sans-v18-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
      url('/assets/fonts/open-sans-v18-latin-800.woff') format('woff'), /* Modern Browsers */
      url('/assets/fonts/open-sans-v18-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
      url('/assets/fonts/open-sans-v18-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-3;
  background-image: url("/assets/images/textured-paper.png");
}
