@import "./variables.scss";

@import "./components/base-page.scss";

@import "./pages/index.scss";
@import "./pages/error-page.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $color-3;
background-image: url("https://www.transparenttextures.com/patterns/textured-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card {
  background-color: $color-1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: calc(80vw - 20px);
  width: 450px;
}
