@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

:root {
  --background-color: #026670;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: var(--background-color);
}

main {
  flex: 1;
  background-color: #EDEAE5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin: 3vh 5vw;
  max-width: 1200px;
}

header {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--background-color);
}

social-footer {
  --background-color: var(--background-color);
}

#name {
  font-size: 15vmin;
  padding: 0 5vh;
  font-family: 'Source Code Pro', monospace;
  color: #FEF9C7;
}

#construction {
  font-size: 20px;
}

#example-hex {
  width: 200px;
}

#grid-container {
  max-width: 800px;
}
