@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

:root {
  --background-color: #026670;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: var(--background-color);
}

main {
  flex: 1;
  background-color: #EDEAE5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin: 3vh 5vw;
  max-width: 1200px;
}

header {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--background-color);
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#name {
  font-size: 15vmin;
  padding: 0 5vh;
  font-family: 'Source Code Pro', monospace;
  color: #FEF9C7;
}

footer {
  padding: 3vh;
  background-color: var(--background-color);
}

.social-links-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0 20vw;
}

.social-link-item {
  display: inline-block;
  padding: 2vh;
}

.social-link {
  font-size: 5vmax;
}

#github {
  color: white;
}

#twitter {
  color: #00ACED;
}

#email {
  color: #E9B332;
}
