{% import "header.njk" as header %}
{% import "skip-links.njk" as skipLinks %}
{% import "footer.njk" as footer %}

{% set github = "alastair-smith" %}
{% set twitter = "alastairsmith_" %}
{% set email = "contact@alsmith.dev" %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description"
    content="Personal website of Alastair Smith.">
  <title>al smith</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="/assets/styles/styles.css" rel="stylesheet">
  <!-- TODO self host-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</head>
{% endblock %}

<body>
  {% set skipLinkValues = [{
    text: "Skip to main content",
    href: "#main-content"
  }] %}

  {{ skipLinks.component({
    links: skipLinkValues
  }) }}

  <div class="page-container">
    {% block header %}
      {{ header.component({
        websiteName: "alsmith.dev"
      }) }}
    {% endblock %}

    {% set mainClasses = mainClasses | default("limit-width") %}
    <main id="main-content" class="{{ mainClasses }}">
      {% block content %}
      {% endblock %}
    </main>

    {% block footer %}
      {{ footer.component({
        github: github,
        twitter: twitter,
        email: email
      }) }}
    {% endblock %}
  </div>
</body>

</html>
