{% macro component(params) %}

  <div class="card">
    <h2>{{ params.title }}</h2>

    {% if params.date %}
      <time class="card-date" datetime="{{ params.date }}">
        {{ params.date | date }}
      </time>
    {% endif %}
    
    <span class="card-about">{{ params.about }}</span>

    {% if params.url or params.blogUrl %}
      <div class="card-links">
        {% if params.url %}
          <a href="{{ params.url }}">
            <span role="img" alt="">🧑‍💻</span>
            <span>&nbsp;App</span>
          </a>
        {% endif %}
        {% if params.blogUrl %}
          <a href="{{ params.blogUrl }}">
            <span role="img" alt="">📝</span>
            <span>&nbsp;Blog</span>
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>

{% endmacro %}
