.bort-page-container {
  padding: 60px 30px;

  form {
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100vw - 60px);
  }
  
  button {
    background: #80d498;
    border-style: solid;
    font-size: 30px;
    border-radius: 2px;
    border-color: black;
    height: 48px;
    margin-top: 12px;
    flex: 1;
  }
  
  button:focus {
    background-color: #4caf50;
    outline: none;
  }
  
  button:active {
    transform: scale(0.9, 0.9);
    outline: none;
  }
}
