.error-page-container {
  display: grid;
  justify-content: center;

  div {
    margin: 60px 0;
  }

  span,
  h1 {
    font-size: 30px;
    margin: 10px;
    text-align: center;
    font-weight: 100;
  }

  #emojis {
    font-size: 75px;
  }
}
