{% extends "components/base-page.njk" %}

{% set mainClasses="limit-width bort-page-container" %}

{% block headEnd %}
  <script type='module' src="{{ '/assets/scripts/bort.js' | asset }}"></script>
{% endblock %}

{% block content %}
  <form id="bort" method="post" action="/bort/api">
    <button type="submit">My son is also named Bort</button>
  </form>
  <span id="bort-counter">0</span>
{% endblock %}
