{% extends "components/base-page.njk" %}

{% set mainClasses="kelly-page-container" %}

{% block content %}
  <form id="kelly" method="get" action="https://api.alsmith.dev/kelly">
    <input id="text-input" type="text" name="text" value="" autocomplete="off">
    <input hidden type="text" name="gif" value="1" autocomplete="off">
    <button class="submit-btn" type="submit">Kelly!</button>
  </form>

  <div id="image-container"></div>
{% endblock %}


{% block script %}
  <script>
    'use strict'
    const copyDirect = () => {
      const copyText = document.getElementById('direct-link')
      copyText.select()
      copyText.setSelectionRange(0, 99999)
      document.execCommand('copy')
      window.getSelection().removeAllRanges()
      copyText.blur()

      if (!document.getElementById('acknowledgement')) {
        const acknowledgement = document.createElement('span')
        acknowledgement.innerHTML = '✔️'
        acknowledgement.id = 'acknowledgement'
        copyText.parentElement.appendChild(acknowledgement)
      }
    }

    const processForm = event => {
      if (event.preventDefault) event.preventDefault()
      const text = event.target[0].value
      const isGif = event.target[1].checked
      if (text.length > 0) {
        const container = document.getElementById('image-container')
        const url = `https://api.alsmith.dev/kelly?text=${encodeURI(text)}`
        //const base64Text = btoa(encodeURIComponent(event.target[0].value))
        //.replace(/=/g, '')
        //const url = `https://api.alsmith.dev/kelly?b=${base64Text}`

        if (!container.firstChild) {
          // blurry placeholder
          const newImageNode = document.createElement('img')
          newImageNode.src = '/kelly/placeholder.png'
          newImageNode.id = 'image'
          container.appendChild(newImageNode)
          // actual image
          const tempImg = new Image()
          tempImg.onload = () => {
            newImageNode.src = url
          }
          tempImg.src = url

          const share = document.createElement('div')
          share.id = 'share'
          share.innerHTML = `
            <input id='direct-link' value='${url}' readonly />
            <button class='share-btn' onClick='copyDirect()'>📋 Copy direct link</button>
          `
          container.appendChild(share)

        } else {
          const imageNode = document.getElementById('image')
          imageNode.src = url
          document.getElementById('direct-link').value = url
          document.getElementById('acknowledgement').remove()
        }
      }

      return false
    }
    {# let firstSubmission = true
    const generatedImageId = 'generated-image'

    const createImageElement = url => {
      const imageNode = document.createElement('img')
      imageNode.src = '/kelly/placeholder.png'
      imageNode.id = generatedImageId
    }

    const processForm = event => {
      event.preventDefault()

      const text = event.target[0].value
      if (text.length > 0) {
        //const base64Text = btoa(encodeURIComponent(event.target[0].value))
        //.replace(/=/g, '')
        //const url = `https://api.alsmith.dev/kelly?b=${base64Text}`
        const url = `https://api.alsmith.dev/kelly?text=${encodeURIComponent(event.target[0].value)}`

        if (firstSubmission) {
          alert(url)
        } else {
          const imageNode = document.getElementById('image')
          imageNode.src = url
        }

      alert(base64Text)
      }
      
      return false
    } #}

    document
      .getElementById('kelly')
      .addEventListener('submit', processForm)
  </script>
{% endblock %}
