{% extends "../components/base-page.njk" %}

{% set mainClasses="error-page-container" %}

{% block content %}
  <div>
    <span id='emojis'>🙅📃</span>
    <br>
    <h1>404<br>Page Not Found</h1>
  </div>
{% endblock %}
