{% extends "base-page.njk" %}

{% import "icons/github.njk" as githubIcon %}
{% import "icons/twitter.njk" as twitterIcon %}
{% import "icons/email.njk" as emailIcon %}

{% import "card.njk" as card %}

{% set mainClasses = "limit-width home-page" %}

{% block content %}

  <div class="about-me">
    <h1 class="name">
      <span>Alastair</span>
      <br>
      <span>Smith</span>
    </h1>
    <div class="detail">
      <span>
        I'm a software engineer from the UK and this website is a collection of stupid stuff I've made in my spare time.
      </span>
      {# <span>I'm Alastair Smith, a software engineer from the UK. This website is a collection of stupid stuff I've made in my spare time.</span> #}
    </div>
  </div>

  <div class="posts">
    {% for post in allPostsInfo %}
      {{ card.component(post) }}
    {% endfor %}
  </div>
  
{% endblock %}
